
 @import "semantic-ui";

 h1.ui.header{
   color: rgb(216, 5, 156);
 }

 body {
  background: slategray;
  color: rgb(216, 5, 156);
  font: 14px/1.5 Helvetica, Arial, sans-serif;
  margin: 20px auto;
  width: 500px;
}
a {
  color: #9e22a5fe;
  text-decoration: none;
}